[Unit]
Description=AB Testing Service with Docker Compose
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/spl/ab-testing-service
User=spl

ExecStartPre=/home/spl/ab-testing-service/devops/update-tags.sh
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
ExecReload=/home/spl/ab-testing-service/devops/update-tags.sh
ExecReload=/usr/local/bin/docker-compose up -d

Restart=on-failure
RestartSec=10s

CPUQuota=90%
MemoryMax=1800M

[Install]
WantedBy=multi-user.target
